/*Css Global*/
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #d8bfd8;
  --text-input-field: #f7f7f7;
  --plum: LightPink;
  --turqueise: #76d7c4;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: var(--white);
}
.inactive {
	display: none;
	opacity: 0;
}

/*Nav Bar*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  border-bottom: 1px solid var(--very-light-pink);
	background-color: var(--white);
}
.menu {
  display: none;
  width: 20px;
  height: 20px;
}
.nav-logo {
  width: 100px;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 50px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 18px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  margin: 0 6px;
  padding: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  color: var(--turqueise);
}
.navbar-email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
	user-select: none;
}
.navbar-email:hover {
	color: var(--turqueise);
	cursor: pointer;
}
.navbar-shopping-card {
  position: relative;
}
.shopping-card {
  width: 20px;
}
.flechita {
  width: 14px;
  transform: rotate(90deg);
}
.navbar-shopping-card div {
  width: 12px;
  height: 12px;
  background-color: var(--plum);
  border-radius: 50%;
  font-weight: bold;
  font-size: var(--sm);
  position: absolute;
  top: -7px;
  right: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Menu en desktop*/
.desktop-menu {
	position: absolute;
	top: 50px;
	right: 65px;
	background-color: var(--white);
	width: 100px;
	height: auto;
	border: 1px solid var(--very-light-pink);
	border-radius: 0 0 6px 6px;
	padding: 20px 20px 0 20px;
	transition: 10.s;
	box-shadow: 5px 5px 10px var(--very-light-pink);
}
.desktop-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
	font-weight: bold;
}
.desktop-menu ul li {
	text-align: end;
}
.desktop-menu ul li:last-child {
	padding-top: 20px;
	border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
	color: var(--turqueise);
	font-size: var(--sm);
}
.desktop-menu ul li a {
	color: var(--black);
	text-decoration: none;
	display: inline-block;
	margin-bottom: 18px;
}

/*Menu en Mobile*/
.mobile-menu {
  background-color: var(--white);
  position: absolute;
  top: 51px;
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
  margin-bottom: 24px;
}
.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}
.sign-out {
  color: var(--turqueise) !important;
  font-size: var(--sm);
}

/*Carrito de compras (aside de product detail)*/
.product-detail {
  background-color: var(--white);
  width: 360px;
  padding: 0 15px;
  position: absolute;
  right: 0;
  box-sizing: border-box;
}
.title-container {
  display: flex;
  align-items: center;
}
.title-container img {
  transform: rotate(180deg);
  width: 15px;
  height: 10px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--very-light-pink);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--text-input-field);
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.icon-close {
  width: 10px;
}
.icon-close:hover {
  cursor: pointer;
}
.primary-button {
  background-color: var(--plum);
  border-radius: 8px;
  border: none;
  color: var(--white);
  height: 40px;
  width: 100%;
  cursor: pointer;
  font-size: var(--sm);
  font-weight: bold;
}

/*Lista de Productos*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 40px;
  place-content: center;
  margin: 40px 0;
}
.product-card {
  width: 240px;
  padding: 10px;
  border-radius: 20px 0 0 0;
  box-shadow: 5px 5px 10px var(--very-light-pink);
}
.product-img {
  width: 240px;
  height: 240px;
  border-radius: 20px 0 0 0;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 12px;
}
.product-info figure {
  margin: 0;
}
.product-info figure img {
  width: 35px;
  height: 35px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin: 0 0 4px 0;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin: 0;
  color: var(--very-light-pink)
}

/*Media Query*/
@media (max-width: 640px) {
  .menu {
    display: block;
    margin-top: 15px;
  }
  .navbar-left ul, .navbar-email, .desktop-menu {
    display: none;
  }
  .product-detail {
    width: 100%;
  }
.card-container {
   grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
  width: 140px;
}
.product-img {
  width: 140px;
  height: 140px;
}
}

@media (min-width: 641px) {
.mobile-menu {
  display: none;
}
}