:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #d8bfd8;
    --text-input-field: #f7f7f7;
    --plum: LightPink;
    --turqueise: #76d7c4;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif; !important
  }
  .login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(221, 160, 221, 0.1);
  }
  .form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
  .logo {
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
    display: none;
  }
  .title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
  }
  .subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
  } 
  .label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
  }
  .input {
    background-color: var(--white);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 5px;
    margin-bottom: 14px;
  }
  .primary-buttom {
    background-color: var(--plum);
    border-radius: 8px;
    border: none;
    color: var(--white);
    height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: var(--sm);
    font-weight: bold;
  }
  .login-buttom {
    margin-top: 14px;
    margin-bottom: 30px;
  }
  @media (max-width: 640px) {
    .logo {
      display: block;
    }
  }